<!DOCTYPE html>
<html>
<head>
	<title>IS219 Gallery (Project 3) | Kevin Solorzano</title>

	<!-- Our CSS File along with Boostrap Styles, and FontAwesome Styles-->
	<link rel="stylesheet" type='text/css' href="css/style.css"/>
	<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>


	<!-- DO NOT CHANGE ANYTHING ABOVE THIS LINE-->

	<!-- Angular (ADD HERE) -->
	<script src="js/angular.min.js"></script> 

	
</head>

  <body ng-app="IS219Gallery">  
    <div class="header" ng-controller="HomeController">
	    
      <div class="container">
        <h1 id="app_title">{{title}}</h1>
      </div>
      
    </div>

    <div class="main" ng-controller="HomeController">
      
      <div class="container" >
      	<div ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
	        <div class="col-md-6"> 
	            <div class="thumbnail">

						<img class="poster" ng-click="posterClick(i)" ng-src="{{movies[i].posters[movies[i].posterindex]}}" />
						<div class="imageInfo">Poster {{movies[i].posterindex+1}} of {{movies[i].posters.length}}</div>
						
						<p class="title">{{movies[i].title}} ({{movies[i].country}})</p> 
						<p class="score"><i class="fa fa-star" aria-hidden="true"></i> {{movies[i].iscore}} </p>
						<p class="runtime">Runtime: {{ timeText(movies[i].runtime) }}</p> 
						<p class="released">Released: {{ movies[i].released | date:"MMM d, y"}} | Rated: {{movies[i].rating}}</p>
						<p class="websites">Websites: <a>{{movies[i].imdb}}</a> | <a>{{movies[i].website}}</a></p>
						
			            <div class="social">
			              <p class="likes" ng-click="like(i)"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{movies[i].likes}}</p>
			              <p class="dislikes" ng-click="dislike(i)"><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{movies[i].dislikes}}</p>
			            </div>
	            </div> 
	        </div>
	    </div>
      </div>
    </div>

    <div class="footer" ng-controller="HomeController">
      <div class="container">
		<a id="github" class="btn btn-lg btn-warning">
			<i class="fa fa-lg fa-github pull-left" aria-hidden="true"></i> {{owner}} {{github}}
  		</a>
      </div>
    </div>

  
  	<!-- Modules -->
	<script type="text/javascript" src="js/app.js"></script>
	 
	<!-- Controllers -->
	<script type="text/javascript" src="js/controllers/HomeController.js"></script>
	 
	<!-- Services -->
  
</body>
</html>
